<h1 mat-dialog-title>Neuen Block erstellen</h1>
<mat-dialog-content>
  <div class="line">
    <mat-form-field>
      <mat-label>Von</mat-label>
      <input [(ngModel)]="fromDate" [ngxMatDatetimePicker]="fromPicker" matInput required>
      <mat-datepicker-toggle [for]="fromPicker" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #fromPicker [stepMinute]="10" color="primary">
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bis</mat-label>
      <input [(ngModel)]="toDate" [ngxMatDatetimePicker]="toPicker" matInput required>
      <mat-datepicker-toggle [for]="toPicker" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #toPicker [stepMinute]="10" color="primary">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div class="line">
    <mat-form-field>
      <mat-label>Titel</mat-label>
      <input [(ngModel)]="title" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input [(ngModel)]="location" matInput>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button (click)="emitCreateAppointment()" cdkFocusInitial mat-button>Erstellen</button>
</mat-dialog-actions>
